body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('bg_px.png') no-repeat center center;
    background-size: cover;
    font-family: "Playwrite AT", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}



.start-menu {
    text-align: center;
}

h1 {
    color: #fff;
    font-size: 49px;
   
}

button {
    font-size: 20px;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #ffbc36;
    color: #000;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ffaa00;
}
